In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("C:\\Users\\olake\\Desktop\\PROJETS_CAS_ENTREPRISE\\PROJET_1\\data\\donnees_brutes\\books.csv")
data.head()

                                   title    price  rating
0                   A Light in the Attic  Â£51.77       3
1                     Tipping the Velvet  Â£53.74       1
2                             Soumission  Â£50.10       1
3                          Sharp Objects  Â£47.82       4
4  Sapiens: A Brief History of Humankind  Â£54.23       5

In [6]:
data.shape

(100, 3)